.scroll {
    overflow: auto;
    height: 80vh !important;
}

.divMiddle {
    margin-top: 50% !important;
    margin-left: 50% !important;
}

.grafiekBackground {
    background-color: #f7f7f7;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 2%;
}

.col-sm-6 {
    max-width: 48% !important;
    min-width: 500px;
}

.url {
    font-size: 70%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

.row {
    height: 100%;
}

.first {
    height: 70%;
}

.second{
    height: 25%;
    margin-top: 5px;
}

.word {
    font-size: 85%;
    float: left;
    list-style: outside none none;
    width: 30%;
}

h4{
    width: 100%;
}

.secondUl {
    display: inline-block;
}