@model IEnumerable<BL.Domain.Item>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search results</h2>
@if (Model == null || !Model.Any()) {
  <p>Geen resultaten gevonden.</p>
} else {
  <ul>
    @foreach (var item in Model)
    {
        if (item.GetType().ToString().Contains("Person"))
        {
            <li>@Html.ActionLink(item.Name + " (Persoon)", "Person", "Page", new { id = item.ItemId }, null)</li>
        }
        else if (item.GetType().ToString().Contains("Organization"))
        {
            <li>@Html.ActionLink(item.Name + " (Organisatie)", "Organization", "Page", new { id = item.ItemId }, null)</li>
        }
        else if (item.GetType().ToString().Contains("Theme"))
        {
            <li>@Html.ActionLink(item.Name + " (Thema)", "Theme", "Page", new { id = item.ItemId }, null)</li>
        }
    }
  </ul>
}

