<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.134.216.25</MSDeployServiceURL>
    <DeployIisAppPath>team13</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Team13</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DAL.EF.BarometerDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=10.134.216.25;Initial Catalog=dbTeam13;User ID=dbuserTeam13;Password=Opfoeind0" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DAL.EF.BarometerDbContext, DAL" MigrationConfiguration="DAL.Migrations.Configuration, DAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PolitiekeBarometerDB" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLSERVER2016;Initial Catalog=PolitiekeBarometerDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PolitiekeBarometerDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLSERVER2016;  MultipleActiveResultSets=True;                          Initial Catalog=PolitiekeBarometerDB;                             Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PolitiekeBarometerDB-Web.config Connection String" />
    <MSDeployParameterValue Include="DAL.EF.BarometerDbContext-Web.config Connection String">
      <ParameterValue>Data Source=10.134.216.25;Initial Catalog=dbTeam13;User ID=dbuserTeam13;Password=Opfoeind0</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DAL.EF.BarometerDbContext" />
  </ItemGroup>
</Project>