@using BL.Domain;
@model dynamic

@{
  ViewBag.Title = "Create";
  List<ApplicationUser> admins = ViewBag.Admins;
}

<div class="row">
    <div class="col-md-5">
        <h2>Maak een nieuw deelplatform aan</h2>
       
        <form action="/Platform/Create" method="post">
            <div class="form-group">
                <label for="name">Naam voor platform:</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="platform naam">
            </div>
            <div class="form-group">
                <label for="admin">Admin</label>
                <select class="form-control" name="admin" id="admin">
                    @foreach (var admin in admins)
                    {
                        <option value="@admin.Id">@admin.UserName</option>
                    }
                </select>
                
            </div>
            <input type="submit" value="submit" />
        </form>

    </div>
</div>






