@model BL.Domain.Person

@{String profiles = null;}
@foreach (BL.Domain.SocialMediaProfile socialmediaprofile in Model.SocialMediaProfiles)
{
    profiles += "@" + socialmediaprofile.Url + ",";
}

<tr>
    <td>
        @Html.DisplayFor(p => p.Name)
    </td>
    <td>
        @profiles
    </td>
    <td>
        @Html.DisplayFor(p => p.Organization.Name)
    </td>
    <td>
        @Html.ActionLink("Wijzig", "AdminItemEdit", new { Model.ItemId }) |
        @Html.ActionLink("Verwijder", "AdminItemDelete", new { Model.ItemId })
    </td>
</tr>