@model BL.Domain.Organization

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Zeker dat u deze organizatie wilt verwijdered?</h3>
<div>
    <h4>Organizatie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |

        </div>
    }
    @Html.ActionLink("Back to List", "Index")
</div>