@using BL.Domain;
@model dynamic

@{
  ViewBag.Title = "EditOrganization";
  Organization o = ViewBag.Organization;
}

<h2>EditOrganization</h2>

@using (Html.BeginForm())
{
    <form action="/Item/EditOrganization" method="post">
        <fieldset>
            @Html.AntiForgeryToken()
            Id <input type="text" name="id" readonly="readonly" value="@o.ItemId" /><br />
            Name <input type="text" name="name" value="@o.Name" /><br>
        </fieldset>
        <button type="submit" class="btn btn-primary">Wijzigen</button>
    </form>
}


<div>
    @Html.ActionLink("Back to List", "OrganizationIndex")
</div>
