@model IEnumerable<BL.Domain.Notification>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-10">
        <h2>Personen</h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
   
</div>